<nav class="navbar navbar-user navbar-fixed-top">
    <div class="container-fluid">

        <label class="navbar-brand pull-left">
            Login
        </label>

    </div>
</nav>


<div class="container">

    <h1>Login</h1>

    <div ng-show="vm.message"
         class="alert alert-danger">
        {{vm.message}}
    </div>

    <form>
        <div>
            <label for="login-username">Username</label>

            <input id="login-username"
                   ng-model="username"
                   type="text"
                   class="form-control"
                   placeholder="Username"/>
        </div>

        <div>
            <label for="login-password">Password</label>

            <input id="login-password"
                   ng-model="password"
                   type="password"
                   class="form-control"
                   placeholder="Password"/>
        </div>
    </form>

    <a ng-click="vm.login(username, password)"
       class="btn btn-primary btn-block">Login</a>


    <a class="btn btn-success btn-block"
       href="#!/register">Register</a>
</div>

<nav class="navbar navbar-user navbar-fixed-bottom">
    <div class="container-fluid ">


        <a class="navbar-glyph"
           href="#!/">
            <span class="glyphicon glyphicon-home pull-right glyph-move"></span>
        </a>


    </div>
</nav>