<nav class="navbar navbar-widget navbar-fixed-bottom">
    <div class="container-fluid ">

        <a class="navbar-glyph" href="">
            <span class="glyph-widget glyphicon glyphicon-play pull-left glyph-move"></span>
        </a>

        <a id="widget-eye" class="navbar-glyph" href="">
            <span class="glyph-widget glyphicon glyphicon-eye-open  glyph-move"></span>
        </a>

        <a class="navbar-glyph" href="#!/profile">
            <span class="glyph-widget glyphicon glyphicon-user pull-right glyph-move"></span>
        </a>

    </div>
</nav>