<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Foodie <i class="fa fa-spoon fa-5" aria-hidden="true"></i></a>
        </div>
    </div>
</nav>


<div class="container-fluid row" style="background-color: {{vm.navigatedUser.covercolor}}">
    <div class="block center-div">
        <img class="profilePic"
             src="http://www.adaptationclearinghouse.org/images/pic.png"
             alt ng-show="!vm.navigatedUser.profileUrl && !vm.navigatedUser.profileImg">

        <div>
            <img class="profilePic"
                 ng-show="vm.navigatedUser.profileUrl && !vm.navigatedUser.profileImg"
                 src="{{vm.navigatedUser.profileUrl}}">

            <img class="profilePic"
                 ng-show="vm.navigatedUser.profileImg"
                 src="{{vm.navigatedUser.profileImg}}">
        </div>

        <div>
            <h2 class="firstNameProfile">{{vm.navigatedUser.firstName}}</h2>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-4 pinned-recipes">

        <h3>Pinned Recipes</h3>

        <a ng-show="!vm.navigatedUserPins"
           class="btn btn-success">
            <span>0 Pins</span>
        </a>

        <div ng-repeat="pin in vm.navigatedUserPins">
            <a href="#!/details/{{pin.id}}">
                <div>
                    {{pin.name}}
                </div>
                <div>
                    <img src="{{pin.images[0].hostedMediumUrl}}">
                </div>
            </a>
        </div>

    </div>


    <div class="col-sm-4 comments">

        <h3>Reviews</h3>

        <div ng-show="vm.reviews">{{vm.reviews}}</div>

        <div ng-show="!vm.reviews" class="btn btn-warning">
            0 Reviews
        </div>

    </div>


    <div class="col-sm-4 friends">

        <h3>Friends</h3>

        <div ng-show="vm.following">

            <div ng-repeat="follower in vm.following">
                <a href="#!/explore/details/{{follower._id}}">
                    <div>
                        {{follower.firstName}}
                    </div>
                    <div ng-show="follower.profileUrl">
                        <img class="smallImg" src="{{follower.profileUrl}}">
                    </div>
                    <div ng-show="follower.profileImg">
                        <img class="smallImg" src="{{follower.profileImg}}">
                    </div>
                    <img class="smallImg"
                         src="http://www.adaptationclearinghouse.org/images/pic.png"
                         alt ng-show="!follower.profileUrl && !follower.profileImg">

                </a>
            </div>

        </div>

        <a ng-show="!vm.following"
           class="btn btn-info">
            <span>0 Friends</span>
        </a>

    </div>

</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom user-icon">
    <div class="container-fluid">

        <a class="user-icon" href="#!/admin">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </a>


    </div>
</nav>