.bg1 {
    background-color: seashell;
    margin-top: 50px;
    margin-bottom: 50px;
}

.headerText {
    text-align: center;
}

.profilepic {
    width: 50%;
    margin-top: 75px;
    text-align: center;
}

#left-side {
    text-align: center;
}

.links {
    margin: 150px 0px;
}

.white-text {
    color: white;
}

.btn-default {
    background-color: lightgreen;
}