<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Text HTML Widget
        </label>

        <a class="navbar-glyph" ng-click="vm.updateWidget(vm.widget)">
            <span class="glyph-widget pull-right glyphicon glyphicon-ok glyph-move"></span>
        </a>

    </div>
</nav>


<div class="container-fluid">

    <label for="text">Text</label>
    <input id="text" ng-model="vm.widget.text" class="form-control"/>
    <label for="rows">Rows</label>
    <input id="rows" ng-model="vm.widget.rows" class="form-control" type="number"/>
    <label for="placeholder">Placeholder</label>
    <input id="placeholder" ng-model="vm.widget.placeholder" class="form-control"/>
    <label for="formatted">Formatted</label>
    <input id="formatted" ng-model="vm.widget.formatted" type="checkbox"/>

</div>


<div>
    <div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
</div>