<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Edit YouTube Widget
        </label>

        <a class="navbar-glyph" ng-click="vm.updateWidget(vm.widget)">
            <span class="glyph-widget pull-right glyphicon glyphicon-ok glyph-move"></span>
        </a>

    </div>
</nav>


<div class="container-fluid">

    <form>
        <div class="form-group">
            <label for="widget-youtube-name">Name</label>
            <input type="text"
                   ng-model="vm.widget.name"
                   class="form-control"
                   id="widget-youtube-name"
                   placeholder="Name">
        </div>

        <div class="form-group">
            <label for="widget-youtube-text">Text</label>
            <input type="text"
                   ng-model="vm.widget.text"
                   class="form-control"
                   id="widget-youtube-text"
                   value="The US Senate Reaches Compromises on Emergency Zika Funding">
        </div>

        <div class="form-group">
            <label for="widget-youtube-url">URL</label>
            <input type="url"
                   ng-model="vm.widget.url"
                   class="form-control"
                   id="widget-youtube-url"
                   value="http://youtube/uLWLashCXHE">
        </div>

        <div class="form-group">
            <label for="widget-youtube-width">Width</label>
            <input type="text"
                   ng-model="vm.widget.width"
                   class="form-control"
                   id="widget-youtube-width"
                   placeholder="Width">

        </div>

    </form>


    <a class="btn btn-info btn-block"
       ng-click="vm.updateWidget(vm.widget)">Update</a>

    <a class="btn btn-danger btn-block"
       ng-click="vm.deleteWidget()">Delete</a>

</div>




<div>
    <div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
</div>