<nav class="navbar navbar-flickr navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left"
           href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget/{{vm.widgetId}}">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Search Flickr
        </label>

    </div>
</nav>

<div class="container-fluid">
    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
        <span class="input-group-btn">
            <a ng-click="vm.searchPhotos(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <div class="row">
        <div class="col-xs-4" ng-repeat="photo in vm.photos.photo">
            <img ng-click="vm.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
    </div>


</div>

<nav class="navbar navbar-flickr navbar-fixed-bottom">
    <div class="container-fluid ">

        <a class="navbar-glyph" href="#!/user/{{vm.userId}}">
            <span class="glyph-widget glyphicon glyphicon-user pull-right glyph-move"></span>
        </a>

    </div>
</nav>

