<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Edit HTML Widget
        </label>

        <a class="navbar-glyph" ng-click="vm.updateWidget(vm.widget)">
            <span class="glyph-widget pull-right glyphicon glyphicon-ok glyph-move"></span>
        </a>

    </div>
</nav>

<div>

</div>

<div class="container-fluid top-space">
    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>
</div>

<div class="container-fluid">
    <div class="btn btn-primary btn-block">
        Update
    </div>

    <div class="btn btn-danger btn-block">
        Delete
    </div>
</div>

<div>
    <div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
</div>