<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Edit Header Widget
        </label>

        <a class="navbar-glyph" href="widget-list.html">
            <span class="glyph-widget pull-right glyphicon glyphicon-ok glyph-move"></span>
        </a>

    </div>
</nav>



<div class="container-fluid">

    <form>
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input type="text" class="form-control" id="widget-heading-name" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="widget-heading-text">Text</label>
            <input type="text"
                   class="form-control"
                   id="widget-heading-text"
                   value="The US Senate Reaches Compromises on Emergency Zika Funding">
        </div>

        <div class="form-group">
            <label for="widget-heading-size">Size</label>
            <input type="number"
                   class="form-control"
                   id="widget-heading-size"
                   value="3">
        </div>

    </form>


    <a class="btn btn-danger btn-block"
       href="widget-list.html">Delete</a>

</div>

<div>
    <div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
</div>