<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no">
    <title>Widget Youtube</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>

</head>
<body>


<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="widget-list.html">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Edit YouTube Widget
        </label>

        <a class="navbar-glyph" href="widget-list.html">
            <span class="glyph-widget pull-right glyphicon glyphicon-ok glyph-move"></span>
        </a>

    </div>
</nav>


<div class="container-fluid">

    <form>
        <div class="form-group">
            <label for="widget-youtube-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="widget-youtube-name"
                   placeholder="Name">
        </div>

        <div class="form-group">
            <label for="widget-youtube-text">Text</label>
            <input type="text"
                   class="form-control"
                   id="widget-youtube-text"
                   value="The US Senate Reaches Compromises on Emergency Zika Funding">
        </div>

        <div class="form-group">
            <label for="widget-youtube-url">URL</label>
            <input type="url"
                   class="form-control"
                   id="widget-youtube-url"
                   value="http://youtube/uLWLashCXHE">
        </div>

        <div class="form-group">
            <label for="widget-youtube-width">Width</label>
            <input type="number"
                   class="form-control"
                   id="widget-youtube-width"
                   placeholder="Width">

        </div>

    </form>


    <a class="btn btn-danger btn-block"
       href="widget-list.html">Delete</a>

</div>




<nav class="navbar navbar-widget navbar-fixed-bottom">
    <div class="container-fluid ">

        <a class="navbar-glyph" href="../user/profile.html">
            <span class="glyph-widget glyphicon glyphicon-user pull-right glyph-move"></span>
        </a>


    </div>
</nav>


</body>
</html>