<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Choose Widget
        </label>

    </div>
</nav>


<div class="container-fluid">


    <ul class="list-group">

        <li class="list-group-item">
            <a ng-click="vm.createWidget('HEADING')">
                <span> Header </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('LABEL')">
                <span> Label </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('HTML')">
                <span> HTML </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('TEXT INPUT')">
                <span> Text Input </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('LINK')">
                <span> Link </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('BUTTON')">
                <span> Button </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('IMAGE')">
                <span> Image </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('YOUTUBE')">
                <span> YouTube </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('TABLE')">
                <span> Data Table </span>
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="vm.createWidget('REPEATER')">
                <span> Repeater </span>
            </a>
        </li>

    </ul>


</div>


<div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
