<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Edit Header Widget
        </label>

        <a class="navbar-glyph" ng-click="vm.updateWidget(vm.widget)">
            <span class="glyph-widget pull-right glyphicon glyphicon-ok glyph-move"></span>
        </a>

    </div>
</nav>



<div class="container-fluid">

    <form>
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input type="text"
                   ng-model="vm.widget.name"
                   class="form-control"
                   id="widget-heading-name"
                   placeholder="Name">
        </div>

        <div class="form-group">
            <label for="widget-heading-text">Text</label>
            <input type="text"
                   ng-model="vm.widget.text"
                   class="form-control"
                   id="widget-heading-text"
                   placeholder="Text">
        </div>

        <div class="form-group">
            <label for="widget-heading-size">Size</label>
            <input type="number"
                   ng-model="vm.widget.size"
                   class="form-control"
                   id="widget-heading-size"
                   placeholder="Size">
        </div>

    </form>

    <a class="btn btn-info btn-block"
       ng-click="vm.updateWidget(vm.widget)">Update</a>

    <a class="btn btn-danger btn-block"
       ng-click="vm.deleteWidget()">Delete</a>

</div>

<div>
    <div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
</div>