<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Choose Widget
        </label>

    </div>
</nav>


<div class="container-fluid">


    <ul class="list-group">

        <li class="list-group-item">
            <a href="widget-heading.html">
                <span> Header </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-label.html">
                <span> Label </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-HTML.html">
                <span> HTML </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-input.html">
                <span> Text Input </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-link.html">
                <span> Link </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-button.html">
                <span> Button </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-image.html">
                <span> Image </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-youtube.html">
                <span> YouTube </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-table.html">
                <span> Data Table </span>
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-repeater.html">
                <span> Repeater </span>
            </a>
        </li>

    </ul>


</div>


<div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
