<nav class="navbar navbar-widget navbar-fixed-top">
    <div class="container-fluid">

        <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{vm.pageId}}/widget">
            <span class="glyph-widget pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
        </a>

        <label class="navbar-brand">
            Edit HTML Widget
        </label>

        <a class="navbar-glyph" ng-click="vm.updateWidget(vm.widget)">
            <span class="glyph-widget pull-right glyphicon glyphicon-ok glyph-move"></span>
        </a>

    </div>
</nav>

<div>

</div>


<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name"
           placeholder="html"
           ng-model="vm.widget.name"
           class="form-control"/>

    <label for="htmlEditor">HTML</label>

    <div ng-model="vm.widget.text"
         text-angular
         id="htmlEditor"
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

    <div class="btn btn-primary btn-block"
         ng-click="vm.updateWidget(vm.widget)">
        Update
    </div>

    <div class="btn btn-danger btn-block"
         ng-click="vm.deleteWidget()">
        Delete
    </div>
</div>

<div>
    <div ng-include="'views/widget/common/widget-footer.view.client.html'"></div>
</div>