<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodiePOC</title>

    <!--Style Sheets-->
    <link rel="stylesheet" href="../../../assignment/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assignment/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!--JQuery and JQuery-UI-->
    <script src="../../../assignment/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../../assignment/vendor/jquery/dist/jquery-ui.js"></script>
    <!--Angular-->
    <script src="../../../assignment/vendor/angular/angular.min.js"></script>
    <script src="../../../assignment/vendor/angular/angular-route.min.js"></script>
    <!--app.js-->
    <script src="../../app.js"></script>
    <!-- POC Controller-->
    <script src="../../poc/controllers/pocController.js"></script>

</head>


<body ng-app="RecipeApp">

<div class="container-fluid" ng-controller="pocController as vm">

    <h1>Foodie Poc</h1>

    <div class="col-sm-8">

        <div ng-show="vm.message" class="alert alert-danger">
            {{vm.message}}
        </div>

        <h2>Search Recipe</h2>
        <div class="input-group">
            <input ng-model="searchRecipe" type="text" class="form-control">
            <span class="input-group-btn">
                <a ng-click="vm.searchRecipe(searchRecipe)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>

        <div class="row" ng-repeat="match in vm.matches">
            <div class="recipeName col-xm-5" ng-click="vm.showDetails(match)">
                <a>{{match.recipeName}}</a>
            </div>

            <div class="recipeImage col-xs-5" ng-click="vm.showDetails(match)">
                <img src="{{match.imageUrlsBySize[90]}}">
            </div>

            <div class="btn btn-info col-xs-2 pull-right" ng-click="vm.getRecipe(match)">
                Full Recipe
            </div>

        </div>
    </div>


        <div class="col-sm-4">

            <div class="alert alert-info" ng-show="vm.details && !vm.recipe">
                <h2>Details</h2>
            </div>

            <div ng-show="vm.details && !vm.recipe">

                <div>
                    <h3>{{vm.recipeName}}</h3>
                </div>

                <label>Ingredients you'll need:</label>

                <div ng-repeat="ingredient in vm.ingredients">
                    <div class="pull-left">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div>
                        {{ingredient}}
                    </div>
                </div>

                <div>
                    <div class="pull-left">
                        <span class="glyphicon glyphicon-time"></span>
                    </div>

                    <div>
                        <p>{{vm.time}}</p>
                    </div>

                </div>

            </div>


        </div>


    <div class="col-sm-4">

        <div class="alert alert-info" ng-show="vm.recipe">
            <h2>Recipe</h2>
        </div>

        <div ng-show="vm.recipe">

            <div>
                <h3>{{vm.recipe.name}}</h3>
            </div>

            <label>Ingredients you'll need:</label>

            <div ng-repeat="ingredient in vm.recipeIngredients">
                <div class="pull-left">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <div>
                    {{ingredient}}
                </div>
            </div>

            <div>
                <div class="pull-left">
                    <span class="glyphicon glyphicon-time"></span>
                </div>

                <div>
                    <p>{{vm.recipe.totalTime}}</p>
                </div>

                <div>
                    {{vm.recipeUrl}}
                </div>

            </div>

        </div>


    </div>



</div>
</body>
</html>