<nav class="navbar navbar-page navbar-fixed-top">

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-4 col-xs-1">
                <a class="navbar-glyph pull-left" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page">
                    <span class="pull-right glyphicon glyphicon-chevron-left glyph-move"></span>
                </a>

                <label class="navbar-brand hidden-xs">
                    Pages
                </label>

                <a class="navbar-glyph hidden-xs" href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/new">
                    <span class="pull-right glyphicon glyphicon-plus glyph-move website-plus-glyph"></span>
                </a>
            </div>


            <div class="col-xs-11 col-sm-8">
                <label class="navbar-brand">
                    Edit Page
                </label>

                <a class="navbar-glyph" ng-click="vm.updatePage(vm.pageId, vm.page)">
                    <span class="pull-right glyphicon glyphicon-ok glyph-move"></span>
                </a>

            </div>

        </div>

    </div>

</nav>


<div class="container-fluid">

    <div class="row">

        <div class="col-sm-4 hidden-xs srollable-left">

            <ul class="list-group">
                <li class="list-group-item website-header">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-6">
                            Page Name
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a href="">

                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="page in vm.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <a ng-click="vm.listWidgets(page)">
                                {{page.name}}
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <a href="#!/user/{{vm.userId}}/website/{{vm.websiteId}}/page/{{page._id}}" class="pull-right">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>


        </div>


        <div class="col-xs-12 col-sm-8">

            <div ng-show="vm.message" class="alert alert-danger">
                {{vm.message}}
            </div>

            <label for="name">
                Page Name
            </label>

            <input id="name"
                   class="form-control"
                   ng-model="vm.page.name"
                   value="Blog Post"/>

            <label for="description">
                Page Description
            </label>

            <input id="description"
                   ng-model="vm.page.description"
                   class="form-control"
                   placeholder="Page Title"/>


            <a ng-click="vm.deletePage(vm.pageId)"
               class="btn btn-block btn-danger">
                Delete
            </a>

            <a ng-click="vm.updatePage(vm.pageId, vm.page)"
               class="btn btn-block btn-success">
                Update
            </a>

        </div>

    </div>

</div>


<nav class="navbar navbar-page navbar-fixed-bottom">
    <div class="container-fluid ">

        <a class="navbar-glyph" href="#!/profile">
            <span class="glyphicon glyphicon-user pull-right glyph-move"></span>
        </a>

    </div>
</nav>